[View in Colaboratory](https://colab.research.google.com/github/binaks/pwp/blob/master/L01.ipynb)

In [14]:
2 + 1
2 - 1
2 * 2
3 / 2
2 ** 3
4 ** 0.5
2 + 10 * 10 + 3
a = 5
a + a
a = 10
a
a = a + a
a
my_income = 100
tax_rate = 0.1
my_taxes = my_income*tax_rate
my_taxes

10.0

In [54]:
'hello'
'This is also a string'
"String built with double quotes"
"Now I'm ready to use the single quotes inside a string!"
'Hello World'

print('Hello World 1')
print('Hello World 2')
print('Use \n to print a new line')
print('\n')
print('See what I mean?')

s = 'Hello World'

s

s[0]
s[1]
s[2]
s[1:]
s
s[3:]
s[:]
s[-1]
s[:-1]
s[::1]
s[::2]
s[::-1]
s

s + ' concatenate me!'

s = s + ' concatenate me!'

print(s)

letter = 'z'
letter*10

s.upper()
s.lower()
s.split()
s.split('W')

'Insert another string with curly brackets: {}'.format('The inserted string')

print('This is a string with an {p}'.format(p='insert'))

print('One: {p}, Two: {p}, Three: {p}'.format(p='Hi'))

print('Object 1: {a}, Object 2: {b}, Object 3: {c}'.format(a=1,b='two',c=12.3))

Hello World 1
Hello World 2
Use
 to print a new line


See what I mean?
Hello World concatenate me!
This is a string with an insert
One: Hi, Two: Hi, Three: Hi
Object 1: 1, Object 2: two, Object 3: 12.3

In [87]:
my_list = [1,2,3]
my_list = ['A string',23,100.232,'o']

len(my_list)

my_list = ['one', 'two', 'three', 4, 5]

my_list[0]
my_list[1:]
my_list[:3]

my_list = my_list + ['new item']
my_list

my_list * 2
my_list

l = [1,2,3]
l.append('append me!')
l

l.pop(0)
l

popped_item = l.pop()
popped_item
l

new_list = ['a', 'e', 'x', 'b', 'c']
new_list

new_list.reverse()
new_list

new_list.sort()
new_list

lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

matrix = [lst_1,lst_2,lst_3]

matrix

matrix[0]
matrix[0][0]

first_col = [row[0] for row in matrix]

first_col

[1, 4, 7]

In [107]:
my_dict  = {'key1':'value1', 'key2':'value2'}

my_dict['key2']

my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}
my_dict['key3']
my_dict['key3'][0]
my_dict['key3'][0].upper()

my_dict['key1']
my_dict['key1'] = my_dict['key1'] - 123
my_dict['key1']

my_dict['key1'] -= 123
my_dict['key1']

d = {}
d['animal'] = 'Dog'
d['answer'] = 42
d

d = {'key1':{'nestkey':{'subnestkey':'value'}}}
d['key1']['nestkey']['subnestkey']

d = {'key1':1, 'key2':2, 'key3':3}
d.keys()
d.values()
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

In [0]:
t = (1,2,3)
len(t)
t = ('one',2)
t

t[0]
t[-1]

t.index('one')
t.count('one')

# tuples can't change (no adding new elements, no changing the current elements)

x = set()
x.add(1)
x
x.add(2)
x
x.add(1)
x

l = [1,1,2,2,3,4,5,6,1,1]
set(l)

a = True
a

1 > 2

b = None

In [155]:
s = 'django'
s[0]
s[-1]
s[:4]
s[1:4]
s[4:]
s[::-1]

l = [3,7,[1,4,'hello']]
l[2][2] = 'goodbye'
l

d1 = {'simple_key':'hello'}
d2 = {'k1':{'k2':'hello'}}
d3 = {'k1':[{'nest_key':['this is deep',['hello']]}]}

d1['simple_key']
d2['k1']['k2']
d3['k1'][0]['nest_key'][1][0]

mylist = [1,1,1,1,1,2,2,2,2,3,3,3,3]
set(mylist)

age = 4
name = "Sammy"

print("Hello my dog's name is {name} and he is {age} years old".format(name=name, age=age))

Hello my dog's name is Sammy and he is 4 years old

In [192]:
1 > 2
1 < 2
1 >= 1
1 <= 4
1 == 1
1 == "1"
'hi' == 'bye'
1 != 2

(1 > 2) and (2 < 3)
(1 > 2) or (2 < 3)
(1 == 2) or (2 == 3) or (4 == 4)

if 1 < 2:
    print('Yep!')
if 1 < 2:
    print('yep!')
    
if 1 < 2:
    print('first')
else:
    print('last')
    
if 1 > 2:
    print('first')
else:
    print('last')

if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')
    
seq = [1,2,3,4,5]

for item in seq:
    print (item)
  
for item in seq:
    print('Yep')
  
for jelly in seq:
    print(jelly + jelly)
    
print('\n')
  
ages = {"Sam":3,"Frank":4,"Dan":29}

for key in ages:
    print("This is the key")
    print(key)
    print("This is the value")
    print(ages[key])
    print('\n')
    
mypairs = [(1,10),(3,30),(5,50)]

for tup in mypairs:
    print(tup)
    
for item1,item2 in mypairs:
    print(item1)
    print(item2)
    
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1
    
range (5)
list(range(5))

for i in range(5):
    print(i)

range(1,10)
range(0,10,2)

x = [1,2,3,4]

out = []
for item in x:
    out.append(item**2)
print(out)

[item**2 for item in x]

Yep!
yep!
first
last
middle
1
2
3
4
5
Yep
Yep
Yep
Yep
Yep
2
4
6
8
10


This is the key
Sam
This is the value
3


This is the key
Frank
This is the value
4


This is the key
Dan
This is the value
29


(1, 10)
(3, 30)
(5, 50)
1
10
3
30
5
50
i is: 1
i is: 2
i is: 3
i is: 4
0
1
2
3
4
[1, 4, 9, 16]

[1, 4, 9, 16]

In [222]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)
    
def hello():
    print("hello")

hello()

def giveMeHello():
    return "hello"
  
result = giveMeHello()
print(result)

def evenCheck(num):
    print("I'm checking to see if {} is even!".format(num))
    
    print(num%2 == 0)
    
evenCheck(41)

def helloYou(name="Default Name"):
    return("Hello, " + name)
  
result = helloYou("Bianca")
print (result)

def addEvenOnly(num1,num2):
    """
    INPUT: Two numbers
    OUTPUT: False if both numbers are not even,
    the sum if both numbers are even
    """
    if (num1 % 2 != 0) or (num2 % 2 != 0):
        return False
    else:
        return num1+num2
      
x = addEvenOnly(1,2)
y = addEvenOnly(2,2)
print(x)
print(y)

def timesTwo(num):
    return num*2
  
lambda num: num*2

my_list = [1,2,3,4,5,6,7,8,9,10]

def evenBool(num):
    return num%2 == 0
  
evens = filter(evenBool,my_list)
print(list(evens))

evens = filter(lambda num: num%2 == 0, my_list)
print(list(evens))

st = 'hello my name is Sam'
st.lower()
st.upper()
st.split()

tweet = 'Go Sports! #Sports'
tweet.split('#')
tweet.split('#')[1]

d = {'k1':1,'k2':2}
d.keys()
d.items()

lst = [1,2,3]
x = lst.pop()

'x' in [1,2,3]
'x' in ['x','y','z']

hello
hello
I'm checking to see if 41 is even!
False
Hello, Bianca
False
4
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

True

In [269]:
def arrayCheck(nums = []):
    for num in range(len(nums) - 2):
        if nums[num] == 1:
            if nums[num+1] == 2:
                if nums[num+2] == 3:
                    return True
    return False
  
arrayCheck([1, 1, 2, 3, 1])
arrayCheck([1, 1, 2, 4, 1])
arrayCheck([1, 1, 2, 1, 2, 3])

def stringBits(str):
    return (str[::2])
    
stringBits('Hello')
stringBits('Hi')
stringBits('Heeololeo')

def end_other(a, b):
    a = a.lower()[::-1]
    b = b.lower()[::-1]

    if len(b) >= len(a):
        length = len(a)
    else:
        length = len(b)

    for i in range(length):
        if a[i] != b[i]:
            return False
    return True

end_other('Hiabc', 'abc')
end_other('AbC', 'HiaBc')
end_other('abc', 'abXabc')

def doubleChar(str):
    new_str = ""
  
    for i in range(len(str)):
        new_str += str[i]*2
    return new_str
  
doubleChar('The')
doubleChar('AAbb')
doubleChar('Hi-There')

'HHii--TThheerree'